
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top: 3px solid #E41B17;
    right: 7px;
}

.dropdown-content a {
    color: #FFF;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins';
}

.dropdown-content a:hover {background-color: #E41B17}

.dropdown:hover .dropdown-content {
    display: block;
}


.list-contrat {
    min-height: 670px; 
    background-color: #EEE
}

.list-contrat .panel{
    margin-top: 120px
}

.list-contrat .panel .panel-heading{
    font-family: 'Poppins';
    font-size: 19px
}

.list-contrat .table tr td{
    color: #999;
    font-family: 'Poppins';
    font-size: 16px
}

.stat .fa-stack{color: #337ab7;}